<div class="col-md-2 left-navbar">
                <p class="lead web-name">CSS3</p>
                <div class="list-group">
                  <%= link_to 'CSS3 Introduction',root_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Rounded Corners ',static_pages_rounded_corners_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Border Images',static_pages_border_images_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Backgrounds',static_pages_backgrounds_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Colors',static_pages_colors_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Gradients',static_pages_gradients_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Shadows',static_pages_shadows_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Text',static_pages_text_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Fonts',static_pages_fonts_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 2D Transforms',static_pages_transforms2d_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 3D Transforms',static_pages_transforms3d_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Transitions',static_pages_transitions_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Animations',static_pages_animations_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Buttons',static_pages_buttons_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Multiple Columns',static_pages_multiple_columns_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 User Interface',static_pages_user_interface_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Box Sizing',static_pages_box_sizing_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Flexbox',static_pages_flexbox_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Filters',static_pages_filters_path,class: "list-group-item hvr-buzz"%>
                  <%= link_to 'CSS3 Media Queries',static_pages_media_queries_path,class: "list-group-item hvr-buzz"%>                
                  <%= link_to 'CSS3 MQ Examples',static_pages_mq_examples_path,class: "list-group-item hvr-buzz"%>
                </div>
            </div>